html {
  font-family: "VT323", monospace;
  font-size: 20px;
}

.container {
  padding: 20px 20px 0;
  height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
}

.main-icon {
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  border: 5px double #fff;
}

.user-name {
  font-weight: bold;
  text-align: center;
  width: 110px;
  margin: 10px auto 0;
  border-radius: 20px;
  color: #fff;
  border: 1px solid #fff;
  background-color: #000a;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  line-height: 25px;
}

.link-list {
  margin-top: 60px;
}

.link-item {
  border-radius: 50px;
  max-width: 450px;
  height: 50px;
  margin: 20px auto 0 auto;
  background-color: #fffa;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.link-anchor {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
  text-align: center;
  width: 100%;
}

.link-anchor > img {
  margin-right: 5px;
}
